/*************************/
/* general look and feel */
/*************************/
@font-face {
  font-family: 'Noto Color Emoji';
  src: url(/NotoColorEmojiSubfont.woff2);
}

body {
  text-align: center;
  background-color: #1d2021;
  color: #ebdbb2;
  max-width: 48em;
  margin: auto;
  padding: 0.825em;
  font-family: serif, 'Noto Color Emoji';
}
h2 {
  background-color:#282828;
}
a:link {
  text-decoration: none;
  color: #83a598;
}
a:visited {
  text-decoration: none;
  color: #d3869b;
}
hr {
  border: 1px dashed #8ec07c;
}

/*******************************/
/* for the rare h3s and lists  */
/*******************************/
ol, ul, p, h3 {
    list-style-position: inside;
    text-align: left;
    margin-left: 5em;
}
h3 {
  margin-left: 6em;
}

/*************************************/
/* table stuff (mainly for anime.md) */
/*************************************/
table {
  margin: auto;
  border-collapse: collapse;
}
th, td {
  border: 1px solid;
}
thead, th {
  border-bottom-style: double;
}

/**********************/
/* landing page stuff */
/**********************/
header {
  font-family: "Fira Sans",sans ;
  padding-bottom: 15pt ;
}
header h1 {
  font-size: 30pt ;
  margin-bottom: 0 ;
}
.lists {
  margin-left: 1em;
  margin-right: 1em;
}
time {
  font-family: monospace ;
  color: #888 ;
  font-size: 10pt ;
}
