{% extends "base.html" %}
{% block meta %}
<title>Port19's Webpage</title>
<meta name="description" content="My Writings on Linux, Tech and Lifestyle">
{% endblock meta %}
{% block content %}

<header><h1 class="title"> Port19's Webpage </h1></header>

<span>
    {% for post in section.pages %}
    <a class="lists" href="{{ post.permalink | safe }}">{{ post.title }}</a>
    {% endfor %}
 </span>

<hr>

<h2> Projects </h2>
    <span>
    <a class="lists" href="https://github.com/pystardust/ani-cli/">ani-cli</a>
    <a class="lists" href="https://port19.xyz/dvd-animation/">dvd-animation</a>
    <a class="lists" href="https://github.com/port19x/redqu/">redqu</a>
    </span>
    <p></p>

{% for path in section.subsections %}
    {% set subsection = get_section(path=path) %}
        <h2><a href="{{ subsection.permalink | safe }}"> {{ subsection.title }} </a></h2>
        <ul>
        {% for post in subsection.pages %}
            <li>
                <time>{{ post.date | date(format="%d.%m.%Y") }}</time>  &ndash;
                <a href="{{ post.permalink | safe }}">{{ post.title }} </a>
            </li>
        {% endfor %}
        </ul>
    {% endfor %}
<hr>

{% endblock content %}
