{% extends "base.html" %}

{% block meta %}
<title>{{ page.title }}</title>
<meta name="description" content="{{ page.description }}">
{% endblock meta %}

{% block content %}
<section>
<h1 class="title">
  {{ page.title }}
</h1>
{% if page.updated %}
<i>Last Updated: {{ page.updated }}</i><br>
{% else %}
<i>First Published: {{ page.date }}</i>
{% endif %}
<hr>
{{ page.content | safe }}
<hr>
</section>
{% if page.lower or page.higher %}
  <nav class="post-nav" style="width:100%">
    {% if page.lower %}
    <a style="float:right" href="{{ page.lower.permalink }}">{{ page.lower.title }} ›</a>
    {% endif %}
    <a class="float:middle" href="https://port19.xyz">🏠</a>
    {% if page.higher %}
    <a style="float:left" href="{{ page.higher.permalink }}">‹ {{ page.higher.title }}</a>
    {% endif %}
  </nav>
<wbr>
<hr>
{% endif %}
{% endblock content %}
